@font-face {
    font-family: "Quicksand";
    src: url(/public/Quicksand-VariableFont_wght.ttf);
}

.addButton {
    position: fixed;
    bottom: 25px;
    right: 25px;
    background-color: #2080ff;
    background-image: url(/public/plus-line.svg);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    border: none;
    -webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 1);
    z-index: 1;
}

.installingCancelButton {
    border: none;
    outline: none;
    background-color: #333355;
    color: white;
    border-radius: 3px;
    font-size: 13px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 2px 10px;
    cursor: pointer;
}

.versionsContainer {
    display: block;
    height: calc(100% - 30px);
    text-align: center;
    margin: 0;
    overflow-y: scroll;
}