.homePage {
    height: 100%;
    width: 100vw;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -2;
    background-image: url(../assets/img/background.webp);
    background-size: cover;
    background-position: center;
}

.contentContainer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contentContainer > .content {
    font-size: 65px;
    font-family: "Quicksand";
    font-weight: bold;
    user-select: none;
    color: white;
}

.playContainer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    background-color: #00000050;
    backdrop-filter: blur(4px);
    padding: 10px 0;
}

.playContainer > .playButton {
    font-family: "Quicksand";
    font-size: 26px;
    border: solid 2px white;
    border-radius: 15px;
    background-color: #00000000;
    color: white;
    padding: 3px 50px;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.3s, box-shadow 0.3s;
}

/* ChatGPT-ed */

/* Efekt najechania */
.playContainer > .playButton:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Podświetlenie tła */
}

/* Efekt kliknięcia */
.playContainer > .playButton:active {
    background-color: rgba(255, 255, 255, 0.1); /* Podświetlenie tła */
    transform: translateY(2px); /* Przesunięcie przycisku w dół, żeby wyglądał na kliknięty */
}

