@font-face {
    font-family: "Quicksand";
    src: url(/public/Quicksand-VariableFont_wght.ttf);
}

#background {
    width: 100%;
    height: 100%;
    background-image: url(/public/Background.png);
    background-size: cover;
    background-position: center;
    filter: blur(2px);
    z-index: -1;
}

#content-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#content-container > .content {
    font-size: 65px;
    font-family: "Quicksand";
    font-weight: bold;
    user-select: none;
    color: white;
}

#play-container {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    background-color: #00000050;
    backdrop-filter: blur(4px);
    padding: 10px 0;
}

#play-container > #play-button {
    font-family: "Segoe UI";
    font-size: 26px;
    /* font-weight: lighter; */
    border: solid 2px white;
    border-radius: 15px;
    background-color: #00000000;
    color: white;
    padding: 3px 50px;
    cursor: pointer;
    user-select: none;
}

#add-button {
    position: fixed;
    bottom: 25px;
    right: 25px;
    background-color: #2080ff;
    background-image: url(/public/plus-line.svg);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    border: none;
    -webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 1);
    z-index: 1;
}

.VersionSelectorContainer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00000070;
    z-index: 2;
    transition: 0.2s;
}

.VersionSelector {
    width: 700px;
    height: 400px;
    background-color: #222222;
    overflow-y: hidden;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 33px -6px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 33px -6px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 33px -6px rgba(0, 0, 0, 1);
    display: flex;
    flex-flow: column;
    background: rgb(46, 46, 46);
    background: linear-gradient(
        130deg,
        rgba(46, 46, 46, 1) 0%,
        rgba(31, 31, 31, 1) 100%
    );
}

.versions::-webkit-scrollbar {
    width: 10px;
}

.versions::-webkit-scrollbar-track {
    background: #282828;
}

.versions::-webkit-scrollbar-thumb {
    background: #888;
}

.VersionSelector .vs-nav {
    background: rgb(52, 53, 59);
}

.VersionAcceptContainer {
    background-color: #324564;
    padding: 5px 5px;
    text-align: right;
}

.VersionAcceptContainer button {
    margin: 0 5px;
}

.VersionSelector .CloseButton {
    border: none;
    background-image: url(/public/close-line.svg);
    background-size: cover;
    background-color: transparent;
    cursor: pointer;
    height: 23px;
    width: 23px;
    float: right;
    margin: 5px;
}