body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 0 !important;
    background-color: #222222;
}

.mantine-Container-root {
    margin: 0 !important;
    padding: 0 !important;
    max-width: none !important;
}

.custom-titlebar {
    z-index: 10000;
}

.mantine-Tabs-tabsList {
    z-index: 1000;
    position: fixed;
    left: 0;
    right: 0;
    background-color: #00000050;
    backdrop-filter: blur(2px);
    user-select: none;
}

.markdown-body {
    background-color: transparent !important;
}

::-webkit-scrollbar-track {
    background-color: #161616;
    border-radius: 5px;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #161616;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #666666;
    border-radius: 5px;
}