name: "Build for Windows"

on:
    push:
    pull_request:
jobs:
    build-for-windows:
        name: Build

        permissions:
            actions: read
            contents: read
            security-events: write

        strategy:
            fail-fast: false
            matrix:
                os: [windows-latest]
        runs-on: ${{ matrix.os }}

        steps:
            - name: "Checkout"
              uses: actions/checkout@v3

            - name: "Install Node"
              uses: actions/setup-node@v3

            - name: Install deps and build
              run: |
                  npm ci
                  npm run windows-electron-build

            - uses: actions/upload-artifact@v3
              name: Upload portable builds
              with:
                  path: |
                      dist/*.zip

            - uses: actions/upload-artifact@v3
              name: Upload installer builds
              with:
                  path: |
                      dist/*.exe